{% load i18n %}

<div class="col-md-4 col-sm-5">
    <div class="list-group">
        <a href="{% url 'customer:profile_view' %}" class="list-group-item">
            <i class="fa fa-asterisk"></i> &nbsp;&nbsp;{% trans "Information" %}
            <i class="fa {% trans "fa-chevron-right" %} list-group-chevron"></i>
        </a>
        <a href="{% url 'customer:order_view' %}" class="list-group-item">
            <i class="fa fa-shopping-bag"></i> &nbsp;&nbsp;{% trans "Orders" %}
            <i class="fa {% trans "fa-chevron-right" %} list-group-chevron"></i>
            <span class="badge">3</span>
        </a>
        <a href="{% url 'customer:address_view' %}" class="list-group-item" id="address">
            <i class="fa fa-address-book"></i> &nbsp;&nbsp;{% trans "Addresses" %}
            <i class="fa {% trans "fa-chevron-right" %} list-group-chevron"></i>
        </a>
        <a href="{% url 'customer:logout_view' %}" class="list-group-item" id="address">
            <i class="fa fa-power-off" aria-hidden="true"></i> &nbsp;&nbsp;{% trans "logout" %}
            <i class="fa {% trans "fa-chevron-right" %} list-group-chevron"></i>
        </a>
    </div> <!-- /.list-group -->
</div>