{% extends 'layout/_base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container-fluid p-0">
    <!-- Carousel Start -->
    {% include 'product/carousel.html' %}
    <!-- Carousel End -->

    <div class="row justify-content-center p-0">
        <div class="col-8">
            <h3>{% trans "Latest products"%}</h3>
            <hr>
        </div>
    </div>

    <div class="row justify-content-center mb-5 p-0">
        <!-- Product Cards -->
        {% include 'product/product-item.html' with products=products %}
        <!-- End Product Cards -->
    </div>
</div>
{% endblock %}