{% extends 'layout/_base.html' %}
{% block extra_header %}
    <style>
    .hover-rotate {
      overflow: hidden;
      margin: 8px;
      min-width: 240px;
      max-width: 320px;
      width: 100%;
    }

    .hover-rotate img {
      transition: all 0.3s;
      box-sizing: border-box;
      max-width: 100%;
    }

    .hover-rotate:hover img {
      transform: scale(1.3) rotate(5deg);
    }
    </style>
{% endblock %}
{% block content %}
<div class="container-fluid p-0">
    <div class="row mt-5">
        <div class="col-12 col-lg-4">
            <figure class="hover-rotate">
                <img src="{{ product.image.url }}" class="img-fluid ms-4" alt="">
            </figure>
            <a class="btn btn-danger m-4 col-12 add-to-cart" product-id="{{ product.id }}">Add to card +</a>
        </div>
        <div class="col-12 col-lg-8">
            <p>Product name: {{ product.name }}</p>
            <p>Price: {{ product.price }}$</p>
        </div>
    </div>
</div>
{% endblock %}