{% extends 'layout/_base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="container-fluid">
    {% if order %}
    <div class="row justify-content-center">
        <div class="col col-lg-8">
            <table class="table table-dark table-borderless table-hover text-center">
                <thead>
                    <tr>
                        <th >#</th>
                        <th scope="col">{% trans "product" %}</th>
                        <th scope="col">{% trans "quantity" %}</th>
                        <th scope="col">{% trans "price" %}</th>
                        <th scope="col">{% trans "total price" %}</th>
                        <th scope="col">{% trans "update" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <form id="{{ item.1.id }}">
                                <td>{{ forloop.counter }}</td>
                                <td>{{ item.1.product.name }}</td>
                                {% for field in item.0.visible_fields %}<td>{{ field }}</td>{% endfor %}
                                <td>{{ item.1.product.price }}$</td>
                                <td>{{ item.1.get_price }}$</td>
                            </form>
                            <td>
                                <button class="btn btn-outline-success">
                                    {% trans "Edit count" %} <i class="fa fa-edit"></i>
                                </button>
                                <a href="{% url 'order:remove_item' %}?item={{ item.1.id }}"
                                class="btn btn-outline-danger">
                                    {% trans "Remove" %} <i class="fa fa-trash-o"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <form id="addressform">
                <label for="address">{% trans "Address" %}</label>
                <select name="addr" id="address" class="form-control">
                    {% for address in addresses %}
                         <option value="{{ address.id }}">{{ address }}</option>
                    {% endfor %}
                </select>
                <p class="help">{% trans 'Select your address to send your order' %}</p>
            </form>
            <a class="btn btn-outline-primary" href={% url 'customer:address_view' %}>
                <i class="fa fa-map-marker"></i>
                {% trans "add new address" %}
            </a>
        </div>
    </div>
    <div class="row justify-content-end mb-5">
        <div class="col col-lg-4 mt-4">
            <label for="off_code">{% trans "Off Code" %}</label>
            <input type="text" id="off_code">
            <input class="btn btn-outline-success" type="button" id="submit_offcode" value={% trans "Apply" %}>
        </div>
        <div class="col col-lg-4">
            <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">{% trans "order price" %}</div>
                <div class="card-body">
                    <h5 class="card-title">{% trans "total price" %}</h5>
                    <p class="card-text">{{ order.get_total_price }}$</p>
                    <hr/>
                    <h5 class="card-title">{% trans "fianl price" %}</h5>
                    <p class="card-text">{{ order.get_final_price }}$</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mb-2">
        <div class="col col-3 mb-2">
            <a class="btn btn-success change_status" id="P">
                <i class="fa fa-credit-card"></i>
                {% trans "payment" %}
            </a>
            <a class="btn btn-danger change_status" id="C">
                <i class="fa fa-times"></i>
                {% trans "cancel" %}
            </a>
        </div>
    </div>
    {% else %}
        <div class="row justify-content-center my-5">
            <div class="col col-lg-auto my-5">
                <h1 class="display-3 text-muted my-5">
                    You dont have any order yet.
                    <span>
                        <img src="https://media1.giphy.com/media/S44yTXUPWaCPcvi6HM/giphy.gif?cid=ecf05e47j21gd7ja3kqih86ar30pj7mz8mhsnnt9mt51pqv5&rid=giphy.gif&ct=s" alt="basket" width="150px">
                    </span>
                </h1>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block extra_footer %}
    <script>
        $('.change_status').on('click', function (){
            let addressForm = document.getElementById('addressform')
            let formData = new FormData(addressForm)
            let order_status = this.id
            fetch(`{% url 'order:change_status' %}?status=${order_status}&orderid={{ order.id }}`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': "{{ csrf_token }}",
                },
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                if (data['success']){
                    window.location.assign("{% url 'customer:order_view' %}")
                }else{
                    swal({
                        title: "Your cart is Empty!",
                        icon: "warning",
                    });
                }
            })
            .catch((error) =>{
                console.log('error', error)
            })
        })

    </script>
{% endblock %}