{% load static %}
{% load i18n %}
{% get_current_language as CUREENT_LANG %}
<!doctype html>
<html lang="{{ CUREENT_LANG }}" dir="{% if CUREENT_LANG == 'fa' %}rtl{% else %}ltr{% endif %}">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% trans "Rayka Shop" %}{% endblock %}</title>
    <!-- Bootstrap CDN Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Custom Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <!-- FontAwesome CDN Link -->
    <script src="https://use.fontawesome.com/6bee649b1d.js"></script>
    {% block extra_header %}{% endblock %}
    {% endblock %}
    <style>
    .w-100 {
      width: 100% !important;
      height: 75vh;
    }
    </style>

</head>
<body>
<div class="container-fluid p-0">
    <!-- NavBar -->
    {% block navbar %}
    <div class="container-fluid p-0 m-0">
        <div class="row p-0">
            <div class="col-12 col-lg-12 p-0 m-0">
                <nav class="navbar navbar-expand navbar-light bg-light bg-white sticky-top p-0">
              <div class="container-fluid justify-content-between">
                  <a class="navbar-brand" style="font-weight: bold; font-size: 25px" href="#">
                      {% trans "Rayka" %}
                  </a>

                  <ul class="navbar-nav">
                      <li class="nav-item p-2">
                          <a class="nav-link my-nav" aria-current="page" href="{% url 'home_view' %}">
                              {% trans "Home" %}
                          </a>
                      </li>
                      <li class="nav-item p-2">
                          <a class="nav-link my-nav" aria-current="page" href="{% url 'product:product_list' %}">
                              {% trans "Shop" %}
                          </a>
                      </li>
                      <li class="nav-item p-2">
                          <a class="nav-link my-nav" aria-current="page" href="#">
                              {% trans "Category" %}
                          </a>
                      </li>
                      <li class="nav-item p-2">
                          <a class="nav-link my-nav" aria-current="page" href="#">
                              {% trans "Contact" %}
                          </a>
                      </li>
                  </ul>

                  <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class='nav-link' href="#">
                                <i class="fa fa-shopping-cart fa-lg position-relative" style="font-size: xx-large" aria-hidden="true">
                                      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="font-size: x-small">
                                        1
                                      </span>
                                </i>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="">{% if CUREENT_LANG == 'en' %}فا{% else %}En{% endif %}</a>
                        </li>
                            {% if  request.user.is_authenticated%}
                                <li class="nav-item dropdown">
                                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                      {{ user.phone_number }}
                                  </a>
                                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#profile">{% trans "profile" %}</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{% url "customer:logout_view" %}">{% trans "logout" %}</a></li>
                                  </ul>
                                </li>
                            {% else %}
                                <li>
                                    <a class="nav-link" href="{% url 'customer:login_view' %}">{% trans "Login" %}</a>
                                </li>
                            {% endif %}
                  </ul>
              </div>
        </nav>
            </div>
        </div>
    </div>
    {% endblock %}
    <!-- End NavBar -->

    {% block content %}

    {% endblock %}


    <!-- Footer -->
    {% block footer %}
    <div class="container-fluid m-0 p-0 ">
        <div class="row my-footer">
            <div class="col-12 col-md-4 col-lg-4 mt-5 me-5">
                <h1 class="ms-5 mb-5" style="color: white">Rayka</h1>
                <p class="ms-5 mb-5" style="color: gray;">The customer is at the heart of our unique business model.</p>
            </div>
            <div class="col-12 col-md-4 col-lg-4 mt-5 ms-5 ">
                <h5 class="mb-5" style="color: white">LINKS</h5>
                <a class="footer-link" href="">Home</a>
                <a class="footer-link" href="">Category</a>
                <a class="footer-link" href="">Shop</a>
                <a class="footer-link" href="">About us</a>
                <a class="footer-link" href="">Contact</a>
            </div>
            <div class="col-12 col-md-3 col-lg-3 mt-5">
                <h5 class="ms-5 mb-5" style="color: white">NEWLETTER</h5>
                <p class="ms-5" style="color:gray;">Be the first to know about new arrivals & sales!</p>
                <input class="ms-5 mb-5 newletter-input" placeholder="Your Email" type="text">
                <span class="input-group-addon"><i class="fa fa-envelope-o" style="color: white"></i></span>
            </div>
        </div>
        <div class="row my-footer p-0">
            <div class="col-12 text-center p-0">
                <p style="color: gray">Copyright &#169; 2022 all rights reserved | This project is made with <span>
                    <i class="fa fa-heart" style="color: red" aria-hidden="true"></i>
                </span> in maktab64</p>
            </div>
        </div>
    </div>
    {% endblock %}
    <!-- End Footer -->
</div>

{% block extra_footer %}{% endblock %}
</body>
</html>