{% load static %}
{% load i18n %}
{% get_current_language as CUREENT_LANG %}
<!doctype html>
<html lang="{{ CUREENT_LANG }}" dir="{% if CUREENT_LANG == 'fa' %}rtl{% else %}ltr{% endif %}">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}{% trans "Rayka Shop" %}{% endblock %}</title>

     <!-- CDN links -->
    {% include 'layout/__cdn_links.html' %}

    <!-- Custom Css -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block extra_header %}{% endblock %}

    {% endblock %}

    <style>
        {% block extra_style %}{% endblock %}
    .w-100 {
      width: 100% !important;
      height: 75vh;
    }
    .dropdown-menu li {
      position: relative;
    }
    .dropdown-menu .dropdown-submenu {
      display: none;
      position: absolute;
      left: 100%;
      top: -7px;
    }
    .dropdown-menu .dropdown-submenu-left {
      right: 100%;
      left: auto;
    }
    .dropdown-menu > li:hover > .dropdown-submenu {
      display: block;
    }
    </style>

</head>
<body>
<div class="container-fluid p-0">
    <!-- NavBar -->
    {% block navbar %}
        {% include 'layout/__navbar.html' %}
    {% endblock %}
    <!-- End NavBar -->

    {% block content %}

    {% endblock %}


    <!-- Footer -->
    {% block footer %}
    <div class="container-fluid m-0 p-0 ">
        <div class="row my-footer">
            <div class="col-12 col-md-4 col-lg-4 mt-5 me-5">
                <h1 class="ms-5 mb-5" style="color: white">Rayka</h1>
                <p class="ms-5 mb-5" style="color: gray;">The customer is at the heart of our unique business model.</p>
            </div>
            <div class="col-12 col-md-4 col-lg-4 mt-5 ms-5 ">
                <h5 class="mb-5" style="color: white">LINKS</h5>
                <a class="footer-link" href="">Home</a>
                <a class="footer-link" href="">Category</a>
                <a class="footer-link" href="">Shop</a>
                <a class="footer-link" href="">About us</a>
                <a class="footer-link" href="">Contact</a>
            </div>
            <div class="col-12 col-md-3 col-lg-3 mt-5">
                <h5 class="ms-5 mb-5" style="color: white">NEWLETTER</h5>
                <p class="ms-5" style="color:gray;">Be the first to know about new arrivals & sales!</p>
                <input class="ms-5 mb-5 newletter-input" placeholder="Your Email" type="text">
                <span class="input-group-addon"><i class="fa fa-envelope-o" style="color: white"></i></span>
            </div>
        </div>
        <div class="row my-footer p-0">
            <div class="col-12 text-center p-0">
                <p style="color: gray">Copyright &#169; 2022 all rights reserved | This project is made with <span>
                    <i class="fa fa-heart" style="color: red" aria-hidden="true"></i>
                </span> in maktab64</p>
            </div>
        </div>
    </div>
    {% endblock %}
    <!-- End Footer -->
</div>

{% block extra_footer %}{% endblock %}
<script>
    $('.add-to-cart').on('click', function (){
        let productId = $(this).attr('product-id')
        fetch('{% url 'order:add_product' %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': "{{ csrf_token }}",
            },
            body: JSON.stringify({product: productId}),
        })
        .then(data =>{
            productCounter()
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    })

    $('#get-cart-item').on('click', function (){
        fetch('{% url 'order:get_products' %}')
        .then(response => response.json())
        .then(data => {
            for (let product of data){
                let modalBody = `<li class="list-group-item p-0 m-0">
                      <div class="row justify-content-around">
                          <div class="col-3">
                              <img src="${product.image}" alt="" width="150px">
                          </div>
                          <div class="col-2">
                              <p>${product.name}</p>
                          </div>
                          <div class="col-2">
                               <p>${product.price}</p>
                          </div>
                          <div class="col-1" >
                              <a class="btn">
                                  <i class="fa fa-trash" id='${product.id}' aria-hidden="true" style="color: red; font-size: 25px"></i>
                              </a>
                          </div>
                      </div>
                  </li>`
                if ($(`#${product.id}`).length === 0){
                    let modalInside = $('#product-modal').html()
                    $('#product-modal').html(modalInside + modalBody)
                }
            }
        })
        .catch(error=>{
            console.error('Error:', error);
        })
    });
</script>
<script src="{% static 'js/base.js' %}"></script>
</body>
</html>